$font-color: #666;
.settle{
  h3{
    font-size: 0.16rem;
    font-weight: normal;
    line-height: 0.45rem;
    padding: 0 0.15rem;
    color: #333;
    background: #f5f5f5;
  }
  .formbox{
    background: #fff;
  }
}
